<!DOCTYPE html>
<html lang="ja">

<head>
  <meta http-equiv="content-type" 
    content="text/html; charset=UTF-8">
  <title>スケジュール管理アプリ</title>
  <link rel="stylesheet" 
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  crossorigin="anonymous">
  <link rel='stylesheet' 
    href='/stylesheets/style.css' />
</head>

<body class="container">
  <header>
    <h1 class="display-4">スケジュールの編集</h1>
  </header>
  <div role="main">
    <form method="post" action="/sche/edit">
    <input type="hidden" name="id" value="<%= form.id %>">
      <div class="form-group">
        <label for="begin">開始日時</label>
        <input type="datetime" name="begin" id="begin"
          class="form-control" value="<%= form.begin.toLocaleString() %>">
      </div>
      <div class="form-group">
        <label for="end">終了日時</label>
        <input type="datetime" name="end" id="end" 
          class="form-control" value="<%= form.end.toLocaleString() %>">
      </div>
      <div class="form-group">
        <label for="palce">場所</label>
        <td><input type="text" name="place" id="place" 
            class="form-control" value="<%= form.place %>">
      </div>
      <div class="form-group">
        <label for="content">内容</label>
        <td><input type="text" name="content" id="content" 
          class="form-control" value="<%= form.content %>">
      </div>
      <input type="submit" value="更新" 
        class="btn btn-primary">
    </form>
  </div>
  <p class="mt-4"><a href="/sche">&lt;&lt; Top へ戻る</a>
</body>

</html>